<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>骑手中心</title>
</head>
<body>
        <a href="http://127.0.0.1:5000/rider_login">退出</a>
        <h3>你好,ID为{{ rider.id }}的骑手</h3>

        <h3 style="color: red">余额: {{ rider.money }} 元</h3>
        <a href="{{ url_for('rider.get_orders',id=rider.id,page=1) }}">接单大厅</a>
        <h3>我的订单</h3>
        <ul>
            {% for order in rider.orders | sort(attribute='creat_time', reverse = True) %}
                <li>
                    {{ order.name }} 价格:{{ order.price }}元 {{ order.state }} 点餐时间:{{ order.creat_time }}
                    店家地址 : {{ order.store_address }}  用户地址 : {{ order.user_address }}
                    {% if order.state == '骑手已接手' %}
                    <form action="/rider/home_id={{ rider.id }}" method="post">
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <input type="hidden" name="rider_id" value="{{ rider.id }}">
                        <input type="submit" name="over" value="送 达">
                    </form>
                {% endif %}
                </li>
            {% endfor %}
        </ul>

</body>
</html>