<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <a href="http://127.0.0.1:5000/rider/home_id={{ rider.id }}">骑手中心</a>
    <title>接单大厅</title>
</head>
<body>
    <h3>接单大厅</h3>
        {#如果存在上一页#}
    <table>
          <tr>
            <th>名称</th>
            <th>商家地址</th>
            <th>用户地址</th>
            <th>佣金(元)</th>
          </tr>
          {% for stus in stus %}
          <tr>
            <td>{{ stus.name }}</td>
            <td>{{ stus.store_address }}</td>
            <td>{{ stus.user_address }}</td>
            <td>{{ stus.money }}</td>
            <td>
                <form action="{{ url_for('rider.get_orders',id=rider.id,page=1) }}" method="post">
                    <input type="hidden" name="order_id" value="{{ stus.id }}">
                    <input type="submit" name="get" value="接 手">
                </form>
            </td>
          </tr>
          {% endfor %}
    </table>
{#如果存在上一页#}
    {% if paginate.has_prev %}
        <a href="{{ url_for('rider.get_orders',id=rider.id,page=paginate.prev_num) }}">上一页:</a>
    {% endif %}

     {%  for i in  paginate.iter_pages() %}
        <a href="{{ url_for('rider.get_orders',id=rider.id,page=i) }}">{{ i }}</a>
     {% endfor %}
    {#如果存在下一页#}
    {% if paginate.has_next %}
         <a href="{{ url_for('rider.get_orders',id=rider.id,page=paginate.next_num) }}">下一页:</a>
    {% endif %}

</body>
</html>