<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>丑团外卖</title>
    <style type="text/css">
        .option{
            font-size: 60px;
            text-align: center;
        }
    </style>
</head>
<body>
        <div style="color: gray;font-size: 20px;height: 50px;width: 1000px;">欢迎来到丑团外卖!</div>
        <div style="color: brown;text-align: center;font-size: 60px">登录中心</div>
        <p>请选择你的角色</p>
        <ul>
            <li class="option"><a href="/user_login">用户</a> <br></li>
            <li class="option"><a href="/store_login">商家</a> <br></li>
            <li class="option"><a href="/rider_login">骑手</a> <br></li>
        </ul>
</body>
</html>