<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商家中心</title>
</head>
<body>
        <a href="http://127.0.0.1:5000/store_login">退出</a>
        <form action="/store/home_id={{store.id}}" method="post">
        <h3>商家资料</h3>
        <div class="form-group">
            <div style="color: red">
                商家 id : {{ store.id }}
            </div>
            <label>商家昵称：</label>
            <input id="name" type="text" name="name" class="input_txt" value="{{ store.name }}">
        </div>
        <div class="form-group">
            <label>店铺地址：</label>
            <input id="address" type="text" name="address" class="input_txt" value="{{ store.address }}">
        </div>
        <div class="form-group">
            <input type="submit" value="保 存" class="input_sub">
        </div>
            <div>
                总余额 : {{ store.money }} 元
            </div>
    </form>
        <h3>
            <a href="{{ url_for('store.manage_goods',id=store.id) }}">商品管理</a>
            <a href="http://127.0.0.1/"></a>
        </h3>
        <h3>我的订单</h3>
        <ul>
            {% for order in store.orders |sort(attribute='creat_time', reverse = True) %}
                <li>
                <span>
                    {{ order.name }} 价格:{{ order.price }}元 时间:{{ order.creat_time }} {{ order.state }}
                    {% if order.state == '未接手' %}
                    <form action="/store/home_id={{store.id}}" method="post">
                            <input type="submit" value="接 手">
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                    </form>
                    {% endif %}
                </span>
                </li>
            {% endfor %}
        </ul>

</body>
</html>