<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>点餐中心</title>
</head>
<body>
    <a href="http://127.0.0.1:5000/user/home_id={{ username }}">个人中心</a>
    <h1 style="color: blue">点餐中心</h1>
    <table>
          <tr>
            <th>图片</th>
            <th>名称</th>
            <th>价格</th>
            <th>商店</th>
            <th>销量</th>
          </tr>
          {% for stus in stus %}
          <tr>
            <td><img src="http://127.0.0.1:5000/store/manage_goods/image/{{ stus.id }}" alt="餐品图片" class="now_user_pic" width="100px" height="100px"></td>
            <td>{{ stus.name }}</td>
            <td>{{ stus.price }}</td>
            <td>{{ stus.store_id }}</td>
            <td>{{ stus.sales }}</td>
            <td>
                <a href="{{ url_for('user.good_detail',good_id=stus.id,username=username) }}">点 餐</a>
            </td>
          </tr>
          {% endfor %}
    </table>
    {#如果存在上一页#}
    {% if paginate.has_prev %}
        <a href="{{ url_for('user.user_order',username=username,page=paginate.prev_num) }}" >上一页:</a>
    {% endif %}

     {%  for i in  paginate.iter_pages() %}
        <a href="{{ url_for('user.user_order',username=username,page= i) }}" >{{ i }}</a>
     {% endfor %}

    {#如果存在下一页#}
    {% if paginate.has_next %}
         <a href="{{ url_for('user.user_order',username=username,page=paginate.next_num) }}">下一页:</a>
    {% endif %}
    <br>

</body>
</html>