{% extends "base.html" %}
{% block title %}我的订单{% endblock %}
{% block head %}{% endblock %}
{% block body %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <h1>我的订单:</h1>
    <br>
    <ul>
    <table class="table">
				<thead>
					<tr>
                        <th>
							商品名称
						</th>
						<th>
                            价格
						</th>
						<th>
							状态
						</th>
						<th>
							点餐时间
						</th>
                        <th>
							打赏
						</th>
                        <th>
                            举报
                        </th>
					</tr>
				</thead>
				<tbody>
					{% for order in stus | sort(attribute='creat_time', reverse = True)%}
                        <tr>
                            <td>{{ order.name }}</td>
                            <td>{{ order.price }}</td>
                            <td>{{ order.state }}</td>
                            <td>{{ order.creat_time }}</td>
                            {% if order.reward_money %}
                                <td>{{ order.reward_money }}元</td>
                            {% else %}
                                {% if order.state == "骑手已送达" %}
                                <td>
                                    <form action="{{ url_for("user.reward_rider",order_id=order.id) }}" method="post">
                                        <input type="text" name="money" placeholder="输入打赏金额">元
                                        <input type="submit" value="打 赏">
                                    </form>
                                </td>
                                {% else %}
                                    <td>请订单结束后再打赏</td>
                                {% endif %}
                            {% endif %}
                            {% if order.report_state == "已举报" %}
                                <td>
                                    {{ order.report_state }}
                                </td>
                            {% elif order.state !="骑手已送达" %}
                                <td>
                                    请订单结束后再举报
                                </td>
                            {% elif order.report_state == "举报成功" %}
                                <td>
                                    {{ order.report_state }}
                                </td>
                            {% elif order.report_state == "举报失败" %}
                                <td>
                                    {{ order.report_state }}
                                </td>
                            {% elif order.report_state == "骑手申诉" %}
                                <td>
                                    {{ order.report_state }}
                                </td>
                            {% else %}
                                <td>
                                    <form action="{{ url_for("user.report_rider",order_id=order.id) }}" method="post">
                                        <input type="text" name="content" placeholder="输入举报内容">
                                        <input type="submit" value="提 交">
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
				</tbody>
			</table>
        </ul>
        <ul class="pagination" style="text-align: center">
            {% if paginate.has_prev %}
                <li><a href="{{ url_for('user.user_order',page=paginate.prev_num) }}" >上一页:</a></li>
            {% endif %}

             {%  for i in  paginate.iter_pages() %}
               <li> <a href="{{ url_for('user.user_order',page= i) }}" >{{ i }}</a></li>
             {% endfor %}

            {#如果存在下一页#}
            {% if paginate.has_next %}
                 <li><a href="{{ url_for('user.user_order',page=paginate.next_num) }}">下一页:</a></li>
            {% endif %}
        </ul>
        </div>
	</div>
</div>


{% endblock body %}